{% extends 'user/index.html' %}
{% load static %}

{% block title %} about {% endblock title %}


{% block content %}
<section class="pricing-section spad">


<div class="container mt-3">
    <br>
    <h2 style="color: coral;" class="text-center">About us</h2>
    <br>

    <div class="row container">
       
    </div>

    <br><br>
    <h2 style="color: coral;" class="text-center"> Mission</h2>
    <br>
    <div class="row container">
       

    </div>


</div>
</section>

{% endblock content %}

