{% extends 'user/index.html' %}
{% load static %}

{% block title %} about {% endblock title %}


{% block content %}
<section class="pricing-section spad">


<div class="container mt-3">
    <br>
    <div>
    <h2 style="color: coral;" class="text-center">About us</h2>
    <p>Welcome to <strong style="color: blue;">FitFusion</strong> , your ultimate destination for fitness and well-being! We are passionate about helping individuals achieve their fitness goals and lead a healthy lifestyle. With a dedicated team of experienced trainers, state-of-the-art facilities, and a wide range of fitness products, we strive to provide the best fitness solutions tailored to your needs.</p>
    </div>
    

    <br><br>
    <div>
    <h2 style="color: coral;" class="text-center"> Mission</h2>
    <p>At <strong style="color: blue;">FitFusion</strong>, our mission is to empower individuals to transform their lives through fitness. We believe that a strong body and a focused mind can unlock incredible potential. Our aim is to inspire and guide you on your fitness journey, helping you become the best version of yourself.</p>
    </div>
    <br>
    
    <div style="text-align: center;">
        <h2 style="color: coral;" class="text-center"> Our Services </h2>
        <ul style=" list-style-type: none; color: white;"><br>
            <li>Fitness Training</li>
            <li>State-of-the-Art Facilities</li>
            <li>Fitness Products</li>
            <li>Personalized Nutrition Plans</li>
        </ul>
    </div>


</div>
</section>

{% endblock content %}

