{% extends 'user/index.html' %}
{% load static %}

{% block title %} Contact {% endblock title %}



{% block content %}


<section class="pricing-section spad">

<div class="container mt-3">
    <br>
    <h2 class="text-center" style="color: coral;">Contact Us</h2>
    <br>

    <div class=" container">

        <p class="fs-4 text-center">Address : </p>
        <p class="fs-4 text-center">Contact :</p>
        <p class="fs-4 text-center">Email : </p>
        
        
    </div>
</div>
<br><br>
</section>
{% endblock content %}

