{% extends 'user/index.html' %}
{% load static %}

{% block title %} Contact {% endblock title %}



{% block content %}


<section class="pricing-section spad">

<div class="container mt-3">
    <br>
    <h2 class="text-center" style="color: coral;">Contact Us</h2>
    <br>

    <div class=" container">

        <p class="fs-4 text-center">Address : koduvally, kozhikode</p>
        <p class="fs-4 text-center">Contact : +91 6282726981</p>
        <p class="fs-4 text-center">Email : shammasmhd0@gmail.com</p>

    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d0.0!2d75.9201155!3d11.3854873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba669b6314bcaeb%3A0x25c926a342796c72!2sVavad+irumoth!5e0!3m2!1sen!2sbd!4v1581710470843!5m2!1sen!2sbd"
            height="550" style="border:0;" allowfullscreen=""></iframe>
    </div>
    
    
    
    
</div>
<br><br>
</section>
{% endblock content %}

