{% extends 'user/index.html' %}

{% block title %} Email Verification Sent {% endblock title %}

{% block content %}
<section class="pricing-section spad">

{% csrf_token %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Email Verification Sent</h3>
            <hr>
            <p style="color: red;">A verification link has been sent to your email. Please click on the link to complete the registration process.</p>
        </div>
    </div>
</div></section>
{% endblock content %}

