{% extends 'user/index.html' %}
{% load static %}

{% block title %} change password Done{% endblock title %}


{% block content %}
<h2 class="text-center" style="color: coral;"> Change password Done </h2>
<section class="pricing-section spad">



<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3><br>
         <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="#" class="btn btn-primary" style="color: coral;">Change password Done</a></li>
            </ul>
         </div><br><br><br><br>
         <div class="col-sm-9 offset-sm-1 text-center">
            <h3 style="color: green;">Password Changed Successfully !!</h3><br><br>
            <div>
                <!-- <iframe src="http://www.w3.org/2000/svg" frameborder="0" width="200" height="200" class="giphy-embed" allowfullscreen></iframe> -->
                <i class="fa-solid fa-thumbs-up fa-shake fa-2xl" style="color: darkblue;"></i>

            </div>

         </div>
    </div>
</div>
</section>
{% endblock content %}

