{% extends 'user/index.html' %}
{% load static %}

{% block title %} Reset password Done {% endblock title %}

{% block content %}

<section class="pricing-section spad">

<div class="container" >
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 style="color: coral;">Reset password</h3>
            <p>An Email has been sent with instructions to reset your password <b style="color: red;">Please Check Your Email..</b></p>
        </div>
    </div>
</div>
</section>

{% endblock content %}