{% extends 'user/index.html' %}
{% load static %}

{% block title %} Reset password Confirm {% endblock title %}

{% block content %}
<section class="pricing-section spad">


<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div style="text-align: center;">
            <h3 style="color: coral;">password Confirm</h3>
        </div>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5" style="color: coral;">
                {% csrf_token %}
                <div style="text-align: center;">
                <h3 style="color: rgb(43, 125, 27);">Enter Your <span style="color: coral;">New</span> Password</h3><br>
            </div>
                {% for fm in form %}
                
                {{fm.label_tag}} {{fm}} <small class="text-danger">
                {{fm.errors|striptags}}
                </small> <br> 
                
                {% endfor %}
                <div style="text-align: center;">
                <input type="submit" class="btn btn-primary mt-4" value="submit">
            </div>
                <br>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors  %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}

            </form>
        </div>
    </div>
</div>

</section>
{% endblock content %}