{% extends 'user/index.html' %}
{% load static %}

{% block title %} Reset password Complete {% endblock title %}

{% block content %}
<section class="pricing-section spad">

<h2 class="text-center" style="color: red;"> congratulations </h2>

<div class="container" style="color: rgb(31, 164, 23);">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div style="text-align: center;">
            <h3 style="color: white;">Reset password Completed !</h3><br><br>
        </div>
            <div style="text-align: center;">
                <i class="fa-solid fa-thumbs-up fa-shake fa-2xl"></i><br><br>
                <a class="btn btn-primary" href="{% url 'login' %}">login</a>
            </div>
            

        </div>
    </div>
</div>
</section>
{% endblock content %}